.modal {
  background-color: $clr-modal-bg;
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    padding: 1.5rem 2rem;
    margin: 1.5rem;
    border-radius: .5rem;
    outline: 2px solid $clr-dark-grey;
    background-color: $clr-green;
    color: $clr-dark-grey;
    font-size: $font-SizeBig;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;

    & p {
      text-align: center;
    }
  }

  &__btn {
    align-self: flex-end;
    cursor: pointer;

    &:hover {
      color: $clr-pink;
    }
  }
}